{erl_opts, [
  {parse_transform, lager_transform}
]}.
{erlydtl_opts, [
  {doc_root, "src/view"},
  {source_ext, ".html"},
  {compiler_options, []},
  {verbose, true}, return
]}.
{sub_dirs, [
  "apps/*"
%  , "rel"
]}.
{deps, [
  {paris, ".*", {git, "https://github.com/glejeune/paris", "master"}},
  {erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl", {tag, "0.8.0"}}}
]}.
