{erl_opts, [
  {parse_transform, lager_transform}
]}.
{erlydtl_opts, [
  [
    {doc_root, "src/views"},
    {module_ext, "_html"},
    {source_ext, ".html"}
  ],
  [
    {doc_root, "src/views"},
    {module_ext, "_txt"},
    {source_ext, ".txt"}
  ],
  [
    {doc_root, "src/views"},
    {module_ext, "_json"},
    {source_ext, ".json"}
  ],
  [
    {doc_root, "src/views"},
    {module_ext, "_xml"},
    {source_ext, ".xml"}
  ],
  {compiler_options, []},
  {verbose, true}, return
]}.
{sub_dirs, [
  "apps/*"
%  , "rel"
]}.
{deps, [
  %{paris, ".*", {git, "https://github.com/emedia-project/paris", "master"}},
  {paris, ".*", {rsync, "../../../paris"}}
]}.
