{erl_opts, [
  {parse_transform, lager_transform}
]}.
{erlydtl_opts, [
  [
    {doc_root, "src/views"},
    {module_ext, "_html"},
    {source_ext, ".html"}
  ],
  [
    {doc_root, "src/views"},
    {module_ext, "_txt"},
    {source_ext, ".txt"}
  ],
  [
    {doc_root, "src/views"},
    {module_ext, "_json"},
    {source_ext, ".json"}
  ],
  [
    {doc_root, "src/views"},
    {module_ext, "_xml"},
    {source_ext, ".xml"}
  ],
  {compiler_options, []},
  {verbose, true}, return
]}.
{sub_dirs, [
  "apps/*"
%  , "rel"
]}.
{deps, [
  {paris, ".*", {git, "https://github.com/emedia-project/paris", "master"}},
  {erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl", {tag, "0.8.0"}}},
  {texas, ".*", {git, "https://github.com/emedia-project/texas", "master"}},
  {texas_sqlite, ".*", {git, "https://github.com/emedia-project/texas_sqlite", "master"}},
  {erlware_commons, ".*", {git, "https://github.com/erlware/erlware_commons.git", "master"}}
]}.

{plugins, [texas_rebar]}.
{texas, "config/tiny_blog.config"}.
