[
  {tiny_blog, [
    {port, 8090}, 
    {ip, "0.0.0.0"},
    {max_conn, 100}
  ]},
  {texas, [
    {uri, "sqlite:///tiny_blog.db"},
    {autoconnect, true},
    {tables, [posts, comments]}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "log/tiny_blog_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/tiny_blog_debug.log"}, {level, debug}]},
      {lager_file_backend, [{file, "log/tiny_blog_console.log"}, {level, info}]}
    ]}
  ]}
].

