{erl_opts, [
  {parse_transform, lager_transform}
]}.
{erlydtl_opts, [
  {doc_root, "src"},
  {module_ext, "_dtl"},
  {source_ext, ".dtl"},
  {compiler_options, []},
  {verbose, true}, return
]}.
{deps, [
  {edown, ".*", {git, "https://github.com/uwiger/edown", {branch, "master"}}},
  {lager, ".*", {git, "https://github.com/basho/lager", {branch, "master"}}},
  {erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl", {tag, "0.9.4"}}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy", {branch, "master"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx", {branch, "master"}}},
  {sync, ".*", {git, "https://github.com/rustyio/sync", {branch, "master"}}},
  {mimetypes, ".*", {git, "https://github.com/spawngrid/mimetypes", {branch, "master"}}},
  {gen_smtp, ".*", {git, "https://github.com/Vagabond/gen_smtp", {branch, "master"}}},
  {eutils, ".*", {git, "https://github.com/emedia-project/eutils", {branch, "master"}}}
]}.
