<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>custom_route</title>
  </head>
  <body>
    Available routes :

    <ul>
      <li><a href="/index">/index</a> (generated)</li>
      <li><a href="/my">/my</a> (generated)</li>
      <li><a href="/my/route">/my/route</a> (fixed)</li>
      <li><a href="/my/route/two">/my/route/two</a> (fixed)</li>
      <li><a href="/my/route/two/with_a_custom_parameter">/my/route/two/with_a_custom_parameter</a> (fixed)</li>
    </ul>
  </body>
</html>
