[
  {custom_route, [
    {port, 8090}, 
    {ip, "0.0.0.0"},
    {max_conn, 100},
    {routes, [
      {"/my/route", my_route},
      {"/my/route/two/", my_route_two},
      {"/my/redirect", {redirect, "/my_route", [{"toto", "hello"}]}}
    ]}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "log/sample_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/sample_console.log"}, {level, info}]}
    ]}
  ]}
].

