[
  { redirect, [
    {port, 8080}, 
    {ip, "0.0.0.0"},
    {max_conn, 100},
    {routes, [
      {"/index/code", {redirect, "/index", [{"type", "code"}]}}
    ]},
    {plugins, [
    ]},
    {applications, [
    ]},
    {mail, [
      {relay, "localhost"},
      {port, 25} %,
      % {ssl, false},
      % {username, "<user>"},
      % {password, "<password>"}
    ]}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "log/redirect_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/redirect_console.log"}, {level, info}]}
    ]}
  ]}
].

